.about-outer {
  display: flex;
  align-items: flex-start;
  border-radius: 4px;
  background: rgba(211, 201, 201, 0.548);
  margin-bottom: 4rem;
  padding: $m-size;
  width: 30vw;
  p {
    margin-top: 0px;
    font-size: $font-size-medium;
    float: none;
  }
  @media (max-width: $desktop-breakpoint) {
    width: 100%;
  }
}

.about-float {
  float: left;
  width: 8vw;
  margin: 0 20px 0 0;
  img {
    border-radius: 50%;
    width:10%;
    height: 10%;
    width: 8vw;
    transition: $ease;
    &:hover {
      filter: $light-up;
    }
  }

}

.about-float-mini {
  float: left;
  width: 30vw;
  margin: 0 20px 0 0;
  img {
    border-radius: 50%;
    width:30vw;
  }
  @media (min-width: $desktop-breakpoint) {
    width: 8vw;
    img {
      width: 8vw;
      transition: $ease;
      &:hover {
        filter: $light-up;
      }
    }
  }
}

.about-social-links {
  display: flex;
  justify-content: left;
  padding: 0px;

  li {
    display: inline;
    padding: 0rem 1rem 1rem 1rem;
    font-size: 30px;
  }
  @media (max-width: $desktop-breakpoint) {
    justify-content: center;
    align-items: center;
  }
}

.list-inline {
  padding: 0px;
}