.header {
  background-image: url("/images/wood-header.jpg");
  background-size: cover;
  background-blend-mode: hard-light;
}

.header__title {
  font-family: 'Ballet', cursive;
  color: $off-white;
  text-decoration: none;
  h1 {
    color: $almond;
    font-size: $header-font-size;
    margin: 0;
    transition: $ease;
    &:hover {
      filter: $light-up
    }
  }
  @media (max-width: $desktop-breakpoint) {
    h1 {
      font-size: $header-smartphone;
      text-align: center;
    }
  }
}

.header__title-and-image {
  display: flex;
  align-items: center;
  border-radius: 8px;
  @media (max-width: $desktop-breakpoint) {
    flex-direction: column;
  }
}

.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: $l-size 0;
  img {
    background: $almond;
    border-radius: 50%;
    max-width: 15vh;  
    margin-right: 30px;
    transition: filter .3s ease;
    &:hover {
      filter: brightness(140%);
      cursor: pointer;
    }
  }
  @media (max-width: $desktop-breakpoint) {
    align-items: center;
    justify-content: center;
    img {
      margin-right: 0px;
    }
  }
}

.admin-area {
  @media (max-width: $desktop-breakpoint) {
    display: none;
  }  
}

.header-divider {
  padding: 15px;
  background-image: url("/images/divider-flowers.png");
  background-size: unset;
}