.list-item-card {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid darken($off-white, 7%);
  margin-bottom: $m-size;
  transition: filter .3s ease;
  h1, p {
    color: $dark-gray;
  }
  &:hover {
    filter: brightness(140%);
    cursor: pointer;
    h1 {
      color: rgb(109, 0, 0);
    }
  }
  @media (max-width: $desktop-breakpoint) {
    border-radius: 5px;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    &:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      filter: none;
    }
  }
}

.list-filters {
  margin-top: $m-size;
}

.list-item-content {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  padding: $m-size;
  @media (max-width: $desktop-breakpoint) {
    flex-direction: column;
    padding-bottom: 0px;
  }
}

.list-item-title-text {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.list-item__picture {
  max-width: 13rem;
  margin: $s-size $m-size 0 0;
  @media (max-width: $desktop-breakpoint) {
    max-width: 100%;
    flex-direction: column;
  }
}

.list-item-title {
  margin: 0;
  text-decoration: none;
  word-break: break-all;
  @media (max-width: $desktop-breakpoint) {
    display: none;
  }
}

.list-item-title-mobile {
  display: none;
  @media (max-width: $desktop-breakpoint) {
    display: contents;
  }
}

.post-list__header-title {
  margin-top: 3rem;
  font-family: arial;
  font-size: 2rem;
  color: rgb(37, 37, 37);
}

.list-item__text {
  @media (max-width: $desktop-breakpoint) {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    padding: none;
    margin: none;
  }
}

.list-item__date {
  @media (max-width: $desktop-breakpoint) {
    padding-left: 1.6rem;
  }
}









// .list-header {
//   background: $off-white;
//   border: 1px solid darken($off-white, 7%);
//   color: $grey;
//   display: flex;
//   justify-content: space-between;
//   padding: $s-size $m-size;
// }

// .list-body {
//   margin-bottom: $m-size;
//   @media (min-width: $desktop-breakpoint) {
//     margin-bottom: $l-size;
//   }
// }

// .list-item {
//   border: 1px solid darken($off-white, 7%);
//   border-top: none;
//   color: $dark-gray;
//   display: flex;
//   flex-direction: column;
//   padding: $s-size;
//   text-decoration: none;
//   transition: background .3s ease;
//   &:hover {
//     background: $purple-transparent;
//   }
//   @media (min-width: $desktop-breakpoint) {
//     align-items: center;
//     flex-direction: row;
//     justify-content: space-between;
//     padding: $m-size;
//   }
// }

// .list-item--message {
//   align-items: center;
//   color: $grey;
//   justify-content: center;
//   padding: $m-size;
//   &:hover {
//     background: none;
//   }  
// }

// .list-item__title {
//   margin: 0;
//   word-break: break-all;
// }

// .list-item__sub-title {
//   color: $grey;
//   font-size: $font-size-small;
// }

// .list-item__data {
//   margin: $s-size 0 0 0;
//   @media (min-width: $desktop-breakpoint) {
//     margin: 0;
//     padding-left: $s-size;
//   }
// }