.post-form-body {
  display: flex;
  flex-direction: column;
  margin-top: $m-size;
}

.form-title {
  input {
    width: 100%;
    padding: $xs-size $m-size;
  }
}

.form-text {
  textarea {
    width: 100%;
    height: 25vh;
  }
}

.input::-webkit-file-upload-button {
  visibility: hidden;
}

.input {
  color: transparent;
  padding: $m-size;
}

.input::before {
  content: 'Selecione uma imagem';
  color: black;
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.input:hover::before {
  border-color: black;
}

.input:active {
  outline: 0;
}

.input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}