// Colors
$night-blue:rgb(16, 6, 58);
$light-night-blue:rgba(27, 13, 83, 0.877);
$purple-light:rgba(70, 43, 180, 0.548);
$purple-transparent: rgba(223, 219, 236, 0.664);
$gold: rgb(255, 186, 36);
$dark-gray: #333333;
$grey: #665;
$off-white: #f7f7f7;
$almond: rgb(238, 209, 159);
$almond-light: rgb(252, 246, 232);
// Font Size
$header-font-size: 5rem;
$header-smartphone: 5.5rem;
$font-size-very-large: 2.8rem;
$font-size-ll: 2.3rem;
$font-size-large: 1.8rem;
$font-size-medium-large: 1.7rem;
$font-size-medium: 1.6rem;
$font-size-small: 1.4rem;
// Fonts
$xs-size: 0.8rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$sl-size: 4.8rem;
$ssl-size: 6.0rem;
$sssl-size: 8.0rem;
$desktop-breakpoint: 50rem; 
// Transitions
$ease: filter .3s ease;
//Brightness
$light-up: brightness(140%);